body{
//   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4d478e+0,55ceb4+100 */
// background: #4d478e; /* Old browsers */
// background: -moz-linear-gradient(-45deg, #4d478e 0%, #55ceb4 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(-45deg, #4d478e 0%,#55ceb4 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(135deg, #4d478e 0%,#55ceb4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d478e', endColorstr='#55ceb4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.top-bar{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4d478e+0,55ceb4+100 */
  background: #4d478e; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #4d478e 0%, #55ceb4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #4d478e 0%,#55ceb4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #4d478e 0%,#55ceb4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d478e', endColorstr='#55ceb4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  margin-bottom: 20px;

  .menu{
    background: none;
    color: white;

    .submenu{
      background-color: #4d478e;
    }

    .is-active{
      ul{
        border: none;
      }
      a{
        color: white;
      }
    }


    a{
      color: white;
    }

  }
}

.message{
 width: 100%;
   .success{
     background-color: $success-color;
     color: $white;
     padding: 1.6em;
   }
}

.main{
  @include xy-grid-container;

  #header_page{
    @include xy-grid;

    h1{
      @include xy-cell(4)
        @include breakpoint(medium) {
          @include xy-cell(12)
        }
    }

    p{
      @include xy-cell(4)
      @include breakpoint(medium) {
        @include xy-cell(12)
      }

    }
  }

  .products-container{
    @include xy-grid;

    .product {


      @include xy-cell(12)

      @include breakpoint(large) {
        @include xy-cell(4);
        @include xy-gutters($gutters:2em, $gutter-type:margin, $gutter-position: bottom);
      }

      border: 1px solid rgba(silver, .4);

      .image-product{
        max-height: 250px;
        margin: 0px auto;
        text-align: center;
        padding: 10px 0px;


        img{
          max-height: 200px;
        }
      }

      h1{
        @include xy-cell(12);
        @include xy-gutters($gutters:1.1em, $gutter-type:padding, $gutter-position: left right bottom);

        font-size: 1.5em;
        font-weight: bold;
        // border-bottom: 1px solid rgba(silver, .4);
        padding-top: 5px;
        // border-top: 1px solid rgba(silver, .4);
        padding-bottom: 5px;
      }

      .cont{
        border-top: 1px solid rgba(silver, .4);

        @include xy-grid;

        .desc{
          @include xy-gutters($gutters:1.1em, $gutter-type:padding, $gutter-position:  top bottom left right);
          @include xy-cell($size:8);
          p{
            margin: 0px;
            line-height: 1.2em;
          }
        }
        .price{
          @include xy-cell($size:4, $gutters:0);
          font-size: 2rem;
          font-weight: bold;
          text-align: right;
          color: $success-color;
          border-left: 1px solid rgba(silver, .4);
          text-align: center;
        }
      }

    .actions{
      border-top: 1px solid rgba(silver, .4);
      @include xy-grid;


      .button-card{
        text-align: center;
        padding: 10px 0px;

        &.add {
          @include xy-cell($size:8, $gutters:0);
          border-right: 1px solid rgba(silver, .4);

          a{
            color: $success-color;
          }

          &:hover{
            background-color: lighten($success-color, 5);
            a{ color: white; }
          }
        }

        &.fav{
          @include xy-cell($size:4, $gutters:0);
          a{
            color: $alert-color;
          }

          &:hover{
            background-color: lighten($alert-color, 4);
            a{ color: white; }
          }

        }
      }
    }

    }
  }
}

.errors{
  @include xy-grid;
  @include xy-gutters($gutters:2em, $gutter-type:margin, $gutter-position:  top bottom);


  .error{
    @include xy-gutters($gutters:1.1em, $gutter-type:padding, $gutter-position:  top bottom left right);



    color:white;
    background-color: $alert-color;
  }

}

.user-cont{
  @include xy-grid-container;

  &>*{
    @include xy-cell(8);
    @include xy-cell-offset(2);
  }


  #orders-list, .order-header{
    @include xy-grid;
    list-style: none;

    &>li{
      @include xy-cell(12);

      @include breakpoint(large) {
        @include xy-cell(4);
      }

      &.items{
        ul{
          li{
            @include xy-cell(12);
          }
        }
      }
    }

  }

  .order-header{
    .items, .total{
      text-align: center;
    }
  }

  #orders-list{
    &>li{
      &.total{
        text-align: right;
      }
    }
  }

}

#shopping-cart{
  @include xy-grid-container;
  .items-list, h1, .total, #no-products{
    @include xy-cell(12)

    @include breakpoint(large) {
      @include xy-cell(10);
      @include xy-cell-offset(1);
    }

  }

  .total, .items-list{
    ul{
      list-style: none;
      margin: 0px;
    }
  }

  .items-list{
    ul{

      &>li{
        @include breakpoint(large) {
          @include xy-gutters($gutters:1.1em, $gutter-type:padding, $gutter-position:  top bottom left right);
        }
        &.header{
          background-color: $success-color;
          color: white;
        }

        &.product-list{
          border-bottom: 1px solid lighten(silver, 10);
        }

        &>ul{
          @include xy-grid;
          &>li{
            @include xy-cell(2);
            text-align: center;

            &.img{
              @include xy-cell(2);
            }

            &.name{
              @include xy-cell(3);
              text-align: left;
            }

            &.add{
              @include xy-cell(2);
            }

            &.remove{
              @include xy-cell(1);
            }



          }

        }
      }
    }
  }

  .total{
    @include xy-grid;

    ul{
      @include xy-gutters($gutters:0);
      @include xy-cell(12);
      // background-color: red;
    }

    li{
      @include breakpoint(large) {
        // @include xy-cell(12);
        @include xy-gutters($gutters:1.1em, $gutter-type:padding, $gutter-position:  top bottom);
      }

      &.summary-row{
        text-align: center;
        @include xy-cell-offset(10);
        font-size: 1.5em;
        font-weight: bold;
        color: $primary-color;


      }

      &.checkout{
        @include xy-cell(4);
        @include xy-cell-offset(8);
        a{
          width: 100%;
          background-color: $success-color;
          margin: 0px;

          &:hover{
            background-color: darken($success-color,15);
          }
        }
      }
    }
  }

}
// #SHOPING CART

#checkout{
  @include xy-grid;

  h1, h4, form{
    @include xy-cell(12)



    @include breakpoint(large) {
      @include xy-cell(6);
      @include xy-cell-offset(3);
    }
  }

  h1, h4{
    line-height: 1em;
  }

  h1{
    color: $primary-color;
  }

  h4{
    color: $secondary-color;
    border-bottom: 1px solid rgba(silver, .4);
    @include xy-gutters($gutters:2em, $gutter-type:padding, $gutter-position: bottom);
  }

  form{
    @include xy-grid;
    @include xy-gutters($gutters:2em, $gutter-type:margin, $gutter-position:  top bottom);

    label{
      @include xy-cell(4);
    }

    input{
      @include xy-cell(8);
    }


    button.btn-form{
      @include xy-cell(8);
      @include xy-cell-offset(4);
      @include button-style($success-color, $primary-color, $white);
      padding: 1rem;
      font-weight: bold;
      border: 0px;
      // background-color: red;
    }


    #card-label{
      font-size: $form-label-font-size;
      color: $form-label-color;
    }
    #card-element{
      @include xy-cell(8);
      border: $fieldset-border;
      padding: $fieldset-padding;
      box-shadow: $input-shadow;
      // margin: $fieldset-margin;
      &:focus{
        border: $input-shadow-focus;
      }

    }

    #card-errors{
      @include xy-cell(8);
      background-color: $alert-color;
    }

    .row{
      @include xy-cell(8);
      @include xy-cell-offset(4);
      // background-color: red;
      @include xy-grid;


      .col{
        @include xy-cell(6);

      }

      label{
        &#label-month, &#label-year{
          @include xy-cell(12);
        }
      }

      input{
        &#month, &#year{
          @include xy-cell(12);
        }
      }
    }
  }

  .total{
    color: $success-color;
  }

}
// #chekout

i.fa{
  margin-right: 4px;
}
