.main{
  @include xy-grid-container;

  #header_page{
    @include xy-grid;

    h1{
      @include xy-cell(4)
    }

    p{
      @include xy-cell(4)

    }
  }

  .products-container{
    @include xy-grid;

    .product {
      @include xy-cell(4);
      @include xy-gutters($gutters:2em, $gutter-type:margin, $gutter-position: bottom);

      border: 1px solid rgba(silver, .4);
      // box-shadow: 10px 10px 16px rgba(black, .1);

      .image-product{
        max-height: 250px;
        margin: 0px auto;
        text-align: center;
        padding: 10px 0px;


        img{
          max-height: 200px;
        }
      }

      h1{
        @include xy-cell(12);
        @include xy-gutters($gutters:1.1em, $gutter-type:padding, $gutter-position: left right bottom);

        font-size: 1.5em;
        font-weight: bold;
        // border-bottom: 1px solid rgba(silver, .4);
        padding-top: 5px;
        // border-top: 1px solid rgba(silver, .4);
        padding-bottom: 5px;
      }

      .cont{
        border-top: 1px solid rgba(silver, .4);

        @include xy-grid;

        .desc{
          @include xy-gutters($gutters:1.1em, $gutter-type:padding, $gutter-position:  top bottom left right);
          @include xy-cell($size:8);
          p{
            margin: 0px;
            line-height: 1.2em;
          }
        }
        .price{
          @include xy-cell($size:4, $gutters:0);
          font-size: 2rem;
          font-weight: bold;
          text-align: right;
          color: $success-color;
          border-left: 1px solid rgba(silver, .4);
          text-align: center;
        }
      }

    .actions{
      border-top: 1px solid rgba(silver, .4);
      @include xy-grid;


      .button-card{
        text-align: center;
        padding: 10px 0px;

        &.add {
          @include xy-cell($size:8, $gutters:0);
          border-right: 1px solid rgba(silver, .4);

          a{
            color: $success-color;
          }

          &:hover{
            background-color: lighten($success-color, 5);
            a{ color: white; }
          }
        }

        &.fav{
          @include xy-cell($size:4, $gutters:0);
          a{
            color: $alert-color;
          }

          &:hover{
            background-color: lighten($alert-color, 4);
            a{ color: white; }
          }

        }
      }
    }

    }
  }
}

.errors{
  @include xy-grid;
  @include xy-gutters($gutters:2em, $gutter-type:margin, $gutter-position:  top bottom);


  .error{
    @include xy-gutters($gutters:1.1em, $gutter-type:padding, $gutter-position:  top bottom left right);



    color:white;
    background-color: $alert-color;
  }

}

.user-cont{
  @include xy-grid-container;

  &>*{
    @include xy-cell(6);
    @include xy-cell-offset(3);
  }

}

i.fa{
  margin-right: 4px;
}
