extends ../layout

block content
  section#checkout
    if errMsg
      .error= errMsg
    
    h1  Checkout
    h4 your total is #[span.total $#{total}]
    
    form#payment-form(action="/checkout" method="post")
      label.text-right.middle(for='name') Your Name
      input#name(type='text', placeholder='Your Name' name='name')
      label.text-right.middle(for='address') Address
      input#address(type='text', placeholder='Address' name='address')
      label.text-right.middle(for='carholder') Card Holder Name
      input#carholder(type='text', placeholder='Card Holder Name' name='carholder')
      label#card-label.text-right.middle(for='card-element')
        | Credit or debit card
      #card-element

      button.btn-form buy now
      #card-errors(role='alert')
    

  script(src='https://js.stripe.com/v3/')
  script(src='/javascripts/paymentValidation.js')   
