doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
      
  body
    
    include partials/header.pug    
    
    .main
      block content
    
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/javascripts/foundation.min.js')   
    script(src='/javascripts/app.js')
